* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
  background-color: rgb(160, 155, 155);
  background-size: cover;
  transition: all .1s ease-in-out;
  animation: banner 16s infinite linear;
}
  /*CREANDO ANIMACIÓN*/
  @keyframes banner{
    0%{
      background-image: url("images/animacion-1.jpg");
    }
    25%{
      background-image: url("images/animacion-1.jpg");
    }
    26%{
      background-image: url("images/animacion-2.jpg");
    }
    50%{
      background-image: url("images/animacion-2.jpg");
    }
    51%{
      background-image: url("images/animacion-3.jpg");
    }
    75%{
      background-image: url("images/animacion-3.jpg");
    }
    76%{
      background-image: url("images/animacion-4.jpg");
    }
    100%{
      background-image: url("images/animacion-4.jpg");
    }
    }
.general{
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .content-h h1{
    font-family: 'AR BERKLEY';
    font-style: italic;
    text-align: center;
    color: #FC7753;
    font-size: 500%;
  }
  .content-encode{
    background: #1e130c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9a8478, #1e130c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9a8478, #1e130c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 480px;
    font-family: 'Bradley Hand ITC';
    letter-spacing: 2px;
  }
    .content-offset input{
      width: 50px;
      height: 30px;
      border-radius: 6px;
      border: none;
    }
    .content-offset label{
      color: #fff;
    }
    .content-offset input:focus{
      outline: none;
    }
    ::placeholder{
      font-family: 'Source Sans Pro', sans-serif;
      letter-spacing: 2px;
      padding-top: 5px;
    }
    h3{
      text-align: center;
      color: #fff;
      font-size: 25px;
    }
    .encode__btn{
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 2px 20px;
    }
    .encode__btn button{
      background: #F10000;
      border: none;
      min-width: 60px;
      padding: 0px 5px;
      height: 30px;
      border-radius: 6px;
      font-family: 'Poppins', sans-serif;
      letter-spacing: 2px;
    }
    .encode__btn button:hover{
      outline: none;
      background: #9a8478;
    }
    .encode__btn button:focus{
      outline: none;
    }
    .btnLimpiar{
      background: #F10000;
      border: none;
      min-width: 60px;
      padding: 0px 5px;
      height: 30px;
      border-radius: 6px;
      font-family: 'Poppins', sans-serif;
      letter-spacing: 2px;
    }
    .msg:focus{
      outline: none;
    }
      /*ICONO DE REDES SOCIALES*/
  .social-bar{
    position:fixed;
    right:0;
    top:35%;
    font-size: 1.5rem;
    display:  flex;
    flex-direction: column;
    align-items: flex-end;
    z-index:100;
  }
  .icon {
  color:white;
  text-decoration: none;
  padding: .7rem;
  display: flex;
  transition: all .5s;
  }
  .icon-facebook2 {
  background: #2E406E;

  }
  .icon-twitter {
  background: #339DC5;
  }
  .icon-youtube {
  background: #E83028;
  }
  .icon-instagram {
  background: #3F60A5;

  }
  .icon:first-child {
  border-radius: 1rem 0 0 0;
  }
  .icon:last-child {
  border-radius: 0 0 0 1rem;
  }
  .social-bar a:hover{
  padding: 10px 40px;
  }
    .copyright{
      color: #fff;
      font-size: 18px;
      text-align: center;
      letter-spacing: 2px;
      margin-top: 20px;
      font-family: 'Amatic SC', cursive;
    }

@media screen and (min-width: 320px) and (max-width: 480px){
  .content-h h1{
    font-size:290%;
  }
  .content-encode{
    padding: 10px;
    width: 70%;
  }
  .content-offset label{
    font-size: 19px;
  }
  textarea{
    width: 100%;
  }
  textarea::placeholder{
    font-size: 16px;
    letter-spacing: 3px;
  }
  .copyright{
    color: #fff;
    font-size: 25px;
  }
}
