
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    color: #FC7753;
    font-family: 'AR BERKLEY';
    font-size: 300%;
    font-style: italic;
}
header{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
video{
    width: 100%;
    z-index: -1;
}
.absolute{
    width: 100%;
    height: 100%;
    top:0;
    right: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.boton{
    width: 100%;
    height: 100%;
    top: 500px;
    right: 0;
    position: absolute;
    border-radius: 6px;
    font-family: cursive;
    z-index: 1;
}
.boton a{
    text-decoration: none;
    padding: 20px;
    font-weight: 800;
    font-size: 20px;
    color: #ffffff;
    background-color: #6A8D73;  
    border-radius: 10px;
    border: 2px solid #6A8D73;
    float:center;
    
}

h1{
    font-weight: 900;
    z-index:100;
    margin-bottom: 30px;
}
h1::after{
    display: block;
    width:50%;
    height: 8px;
    content: "";
    margin: auto;
    background: rgb(180, 172, 57);
}

@media screen and (max-width: 800px){
    h1{
        font-size: 50px;
    }
 
}
@media screen and (max-width: 500px){
    h1{
        font-size: 30px;
        margin-bottom: 0;
    }
  
}